.tab-1{
    width: 70px;
    height: 1081px;
    position: absolute;
    left: 0%;
    right:96.35%;
    top:0%;
    bottom: 0%;
    background: #E8E8E8;
}

.img-1{
    width: 29.33px;
    height: 40px;
    position: absolute;
    left: 18.4px;
    top: 30.94px;
}

.img-2{
    width: 29.33px;
    height: 40px;
    margin-top: 847.56px;
    margin-left: 18.4px;
}

.img-3{
    width: 29.33px;
    height: 40px;
    margin-top:23px;
    margin-left: 18.4px;
}

.img-4{
    margin-top:32px;
    border-radius: 30px;
    margin-left: 13px;
}